@model List<PureCinema.DataAccess.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Description</td>
            </tr>
        }
    </tbody>
</table>